<div class="board-list d-flex justify-content-center">
  <div class="board-container row">
    <div class="card board-item col-5" *ngFor="let board of boards">
      <div class="card-header">
        {{board.title}}
      </div>
      <div class="card-block">
        <h4 class="card-title"></h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
