.board-container {
  width: 50%;
}
.board-list .board-item{
  padding: 0;
}
.board-item-btn-delete {
  display: none;
}
.board-item:hover .board-item-btn-delete {
  display: block;
}
.board-item .card-header {
  height: 52px;
}
