<div class="board-list d-flex justify-content-center">
  <div class="board-container row">
    <div class="card board-item col-5" *ngFor="let board of boards">
      <div class="card-header d-flex justify-content-between">
        <div class="board-item-title">{{board.title}}</div>
        <div class="board-item-btn-delete">
          <button type="button"
                  class="btn btn-danger btn-sm"
                  (click)="deleteBoard(board.id)"
          >X</button>
        </div>
      </div>
      <div class="card-block">
        <task-list [boardId]="board.id"></task-list>
        <form class="form row">
          <input type="text" #taskTitle class="form-control col-9" id="inlineFormInput" placeholder="To do something...">
          <button (click)="createTask($event, taskTitle.value, board.id); taskTitle.value = '';" class="btn btn-secondary col-3">Add task</button>
        </form>
      </div>
    </div>
  </div>
</div>
