<div class="task-list">
  <b>remaining: {{getActiveTaskListCount()}} of {{getTaskListCount()}}</b>
  <div *ngFor="let task of tasks" class="task-item d-flex justify-content-between">
    <div class="task-item-title">
      <input type="checkbox" [(ngModel)]="task.completed" id="{{task.id}}" (click)="saveChanges(task.id)"/>
      <label for="{{task.id}}" [ngClass]="{'complited': task.completed}">{{task.title}}</label>
    </div>
    <div class="task-item-btn-delete">
      <button type="button"
              class="btn btn-primary btn-sm"
              [routerLink]="['/task-editor', task.id]"
      >Edit</button>
      <button type="button"
              class="btn btn-danger btn-sm"
              (click)="deleteTask(task.id)"
      >X</button>
    </div>
  </div>
</div>
